<section id="about" class="top-border-me">
    <div class="section-inner">
    <div class="container">
    <div class="row">
    <div class="col-lg-12 text-center mb100">
    <h2 class="section-heading">A <span class="theme-accent-color">Warm</span> Welcome</h2>
    <hr class="thin-hr">
    <h3 class="section-subheading secondary-font">Were very happy to see you.</h3>
    </div>
    </div>
    </div>
    <div>
    <div class="container">
    <div class="row">
    <div class="col-md-5 col-md-offset-1">
    <h2 class="mb50">About <span class="theme-accent-color">DuJour</span></h2>
    <p class="lead">Fish don't fry in the kitchen and beans don't burn on the grill. Took a whole lotta tryin' just to get up that hill. Love exciting and new. Come aboard were expecting you. Love life's sweetest reward Let it flow it floats back to you.</p>
    <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Believe it or not I'm walking on air. I never thought I could feel so free. Flying away on a wing and a prayer.</p>
    </div>
    <div class="col-md-5">
    <h2 class="mb50">Latest <span class="theme-accent-color">Awards</span></h2>
    <p class="lead">Fish don't fry in the kitchen and beans don't burn on the grill. Took a whole lotta tryin' just to get up that hill. Love exciting and new. Come aboard were expecting you. Love life's sweetest reward Let it flow it floats back to you.</p>
    <p>Here he comes Here comes Speed Racer. He's a demon on wheels. Believe it or not I'm walking on air. I never thought I could feel so free. Flying away on a wing and a prayer.</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>