
     <div class="" dir="{{dir}}">

   <div class="master-wrapper">
    <div class="preloader">
    <div class="preloader-img">
    <span class="loading-animation animate-flicker"><img src="assets/img/loading.GIF" alt="loading" /></span>
    </div>
    </div>

    <app-navbar></app-navbar>
    


    <div id="bottom-frame"></div>
 
   
   
   
 
		<router-outlet>
		</router-outlet>
    <app-footer></app-footer>
    <a href="#" id="back-to-top"><i class="fa fa-long-arrow-up"></i></a>
  </div>
		<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
		  <p style="color: white">Please Wait. </p>
		</ngx-spinner> -->
	</div>