<app-header></app-header>
  

    <section class="dark-wrapper top-border-me opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg4.jpg" data-speed="0.8">
    <div class="section-inner">
    <div class="container">
    <div class="row">
    <div class="col-lg-12 text-center mb100">
    <h2 class="section-heading">Our <span class="theme-accent-color">Upcoming</span> Events</h2>
    <hr class="thin-hr">
    <h3 class="section-subheading secondary-font">Try us for yourself today.</h3>
    </div>
    </div>
    </div>
    <div class="wow fadeIn" data-wow-delay="0.2s">
    <div class="container">
    <div class="row">
    <div class="col-xs-12" role="tabpanel">
    <div class="text-center">
    
    <ul class="nav nav-justified icon-tabs" id="nav-tabs" role="tablist">
    <li role="presentation" class="active">
    <a href="#dustin" aria-controls="dustin" role="tab" data-toggle="tab">
    <span class="tabtitle heading-font">Steak Night</span>
    <span class="tabtitle small"><p class="lead">Tuesdays.</p></span>
    </a>
    </li>
    <li role="presentation" class="">
    <a href="#daksh" aria-controls="daksh" role="tab" data-toggle="tab">
    <span class="tabtitle heading-font">Curry Club</span>
    <span class="tabtitle small"><p class="lead">Thursdays.</p></span>
    </a>
    </li>
     <li role="presentation" class="">
    <a href="#anna" aria-controls="anna" role="tab" data-toggle="tab">
    <span class="tabtitle heading-font">Sunday Special</span>
    <span class="tabtitle small"><p class="lead">Sundays.</p></span>
    </a>
    </li>
    <li role="presentation" class="">
    <a href="#wafer" aria-controls="wafer" role="tab" data-toggle="tab">
    <span class="tabtitle heading-font">Italian Cuisine</span>
    <span class="tabtitle small"><p class="lead">April 25th</p></span>
    </a>
    </li>
    </ul>
    </div>
    <div class="mt60">
    
    <div class="tab-content" id="tabs-collapse">
    <div role="tabpanel" class="tab-pane fade in active" id="dustin">
    <div class="tab-inner">
    <h2 class="secondary-font mb30">Every Tuesday we offer the best steaks for all you meat lovers out there.</h2>
    <p>Is post each that just leaf no. He connection interested so we an sympathize advantages. To said is it shed want do. Occasional middletons everything so to. Have spot part for his quit may. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was. He families believed if no elegance interest surprise an. It abode wrong miles an so delay plate.</p>
    </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="daksh">
    <div class="tab-inner">
    <h2 class="secondary-font mb30">Like something spicy, then this is for you!</h2>
    <p>Is post each that just leaf no. He connection interested so we an sympathize advantages. To said is it shed want do. Occasional middletons everything so to. Have spot part for his quit may. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was. He families believed if no elegance interest surprise an. It abode wrong miles an so delay plate.</p>
    </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="anna">
    <div class="tab-inner">
    <h2 class="secondary-font mb30">Who doesnt love a roast?</h2>
    <p>Is post each that just leaf no. He connection interested so we an sympathize advantages. To said is it shed want do. Occasional middletons everything so to. Have spot part for his quit may. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was. He families believed if no elegance interest surprise an. It abode wrong miles an so delay plate.</p>
    </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="wafer">
    <div class="tab-inner">
    <h2 class="secondary-font mb30">Try something new and our special event.</h2>
    <p>Is post each that just leaf no. He connection interested so we an sympathize advantages. To said is it shed want do. Occasional middletons everything so to. Have spot part for his quit may. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was. He families believed if no elegance interest surprise an. It abode wrong miles an so delay plate.</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    <section id="the-menu">
    <div class="section-inner">
    <div class="container">
    <div class="row">
    <div class="col-lg-12 text-center mb100">
    <h2 class="section-heading">Browse <span class="theme-accent-color">The</span> Menu</h2>
    <hr class="thin-hr">
    <h3 class="section-subheading secondary-font">Your tastebuds will thank you.</h3>
    </div>
    </div>
    </div>
    <div class="container">
    <div class="row mb100">
    <div class="col-md-4 wow fadeIn">
    <h2 class="mb50"><span class="heading-font text-uppercase">Fresh Pizza</span></h2>
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be.</p>
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be.</p>
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be.</p>
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be.</p>
    </div>
    <div class="col-md-4 wow fadeIn">
    <h2 class="mb50"><span class="heading-font text-uppercase">Famility Favourites</span></h2>
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be.</p>
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be.</p>
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be.</p>
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be.</p>
    </div>
    <div class="col-md-4 wow fadeIn">
    <h2 class="mb50"><span class="heading-font text-uppercase">Catch of the Day</span></h2>
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be.</p>
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be.</p>
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be.</p>
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be.</p>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6 wow fadeIn">
    <h2 class="mb50"><span class="heading-font text-uppercase">Starters</span></h2>
    <div class="food-menu-item">
    <div class="row">
    <div class="col-xs-3">
    <img src="assets/img/food/meal4.jpg" class="img-responsive">
    </div>
    <div class="col-xs-9">
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
    </div>
    </div>
    </div>
    <div class="food-menu-item">
    <div class="row">
    <div class="col-xs-3">
    <img src="assets/img/food/meal1.jpg" class="img-responsive">
    </div>
    <div class="col-xs-9">
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
    </div>
    </div>
    </div>
    <div class="food-menu-item">
    <div class="row">
    <div class="col-xs-3">
    <img src="assets/img/food/meal2.jpg" class="img-responsive">
    </div>
    <div class="col-xs-9">
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
    </div>
    </div>
    </div>
    <div class="food-menu-item">
    <div class="row">
    <div class="col-xs-3">
    <img src="assets/img/food/meal3.jpg" class="img-responsive">
    </div>
    <div class="col-xs-9">
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-6 wow fadeIn">
    <h2 class="mb50"><span class="heading-font text-uppercase">Main Course</span></h2>
    <div class="food-menu-item">
    <div class="row">
    <div class="col-xs-3">
    <img src="assets/img/food/meal3.jpg" class="img-responsive">
    </div>
    <div class="col-xs-9">
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
    </div>
    </div>
    </div>
    <div class="food-menu-item">
    <div class="row">
    <div class="col-xs-3">
    <img src="assets/img/food/meal5.jpg" class="img-responsive">
    </div>
    <div class="col-xs-9">
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
    </div>
    </div>
    </div>
    <div class="food-menu-item">
    <div class="row">
    <div class="col-xs-3">
    <img src="assets/img/food/meal6.jpg" class="img-responsive">
    </div>
    <div class="col-xs-9">
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
    </div>
    </div>
    </div>
    <div class="food-menu-item">
    <div class="row">
    <div class="col-xs-3">
    <img src="assets/img/food/meal7.jpg" class="img-responsive">
    </div>
    <div class="col-xs-9">
    <h3>Lorem Ipsum <span class="theme-accent-color">$8.95</span></h3>
    <p>No phone no lights no motor car not a single luxury. Like Robinson Crusoe it's primitive as can be. Like Robinson Crusoe it's primitive as can be</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>


    <section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg1.jpg" data-speed="0.8">
    <div class="section-inner">
    <div class="container">
    <div class="row">
    <div class="col-lg-12 text-center mb100">
    <h2 class="section-heading">Book <span class="theme-accent-color">Your</span> Table</h2>
    <hr class="thin-hr">
    <h3 class="section-subheading secondary-font">Satisfaction, everytime.</h3>
    </div>
    </div>
    </div>
    <div class="container">
    <div class="row mb100">
    
    <div class="col-md-5 col-md-offset-1 wow fadeIn">
    <h3 class="mb30">Address</h3>
    <p class="lead">Florence Building</p>
    <p class="lead">Kings Square<br>
    London, LDN1 23 </p>
    <p class="lead">+448754 658 048<br>
    </div>
    <div class="col-md-5 col-sm-7 wow fadeIn">
    <h3 class="mb30">Opening Times</h3>
    <div class="row">
    <div class="col-xs-5">
    <ul class="list-unstyled weekdays">
    <li>Monday</li>
    <li>Tuesday</li>
    <li>Wednesday</li>
    <li>Thursday</li>
    <li>Friday</li>
    <li>Saturday</li>
    <li>Sunday</li>
    </ul>
    </div>
    <div class="col-xs-7">
    <ul class="list-unstyled">
    <li>11:00 AM - 11:00 PM</li>
    <li>11:00 AM - 11:00 PM</li>
    <li>11:00 AM - 11:00 PM</li>
    <li>11:00 AM - 11:00 PM</li>
    <li>11:00 AM - 1:00 AM</li>
    <li>11:00 AM - 1:00 AM</li>
    <li>11:00 AM - 1:00 AM</li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <div class="row">
    <div id="message" class="col-md-12"></div>
    <form method="post" action="sendemail.php" id="contactform" class="form-group main-contact-form col-md-12 wow fadeIn" data-wow-delay="0.2s">
    <input type="text" class="form-control col-md-4" name="name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." />
    <input type="text" class="form-control col-md-4" name="email" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." />
    <input type="text" class="form-control col-md-4" name="website" placeholder="Your URL *" id="website" required data-validation-required-message="Please enter your web address." />
    <textarea name="comments" class="form-control" id="comments" placeholder="Your Message *" required data-validation-required-message="Please enter a message."></textarea>
    <input class="btn btn-primary btn-white mt30 pull-right" type="submit" name="submit" value="Submit" />
    </form>
    </div>
    </div>
     </div>
    </div>
    </div>
    </section>
    <section>

    </section>